.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 138px;
  background: url('~images/bg/leaves.jpg') top right 53% / cover no-repeat;
  
  @include phones {
    padding-top: 40px;
  }
}

.contacts__form-title {
  
  @include phones {
    text-align: center;
  }
}

.contacts__about {
  margin-bottom: 190px;

  @include phones {
    margin-bottom: 150px;
  }
}

.contacts__form {
  width: 89%;

  @include tablets {
    width: 100%;
  }
}