.hero {
  position: relative;
  height: 100vh;
  min-height: 650px;
  padding-top: 54px;
  
  @include tablets {
    min-height: auto;
  }
  
  @include phones {
    padding-top: 5vh;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__content {
  flex: .8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__downbutton {
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}