.works {
  color: #333c49;
}

.works__container {

  @include phones {
    width: 100%;
  }
}

.works__section-title {

  @include tablets {
    font-size: 30px;
  }
  
  @include phones {
    text-align: center;
    margin-bottom: 30px;
  }
}