.headline-component {
  background: #43436B;
}

.headline-container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.buttons {
  margin-left: auto;
}

.btn {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
}

.title {
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.5);
}