.skill-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #373E42;
}

.skill-percent {
  position: relative;
  margin-left: auto;
  margin-right: 60px;

  &::after {
    content: "%";
    position: absolute;
    top: 0;
    left: 150%;
  }
}

.skill-buttot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 49px;
}